
.app.MuiGrid-root {
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;

  width: 750px;
  margin: 0 auto;

  .main.MuiGrid-root{
    justify-content: center;
  }
  .header.MuiGrid-root{
    text-align: center;
    padding-top: 24px;
  }

  .filter__grid.MuiGrid-root{
    align-self: flex-start;
    flex-shrink: 1;
  }
  .content__grid.MuiGrid-root{
    flex-grow: 1;
  }
}
