
.app.MuiGrid-root {
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  width: 750px;
  margin: 0 auto;

  .main.MuiGrid-root{
    justify-content: center;
  }

  .filter__grid.MuiGrid-root{
    align-self: flex-start;
  }
}
